<!DOCTYPE html>
<html>
<head>
    <!-- Include Material Symbols Outlined font from Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Landing Page</title>
    <style>
        /* Global Styles */
        * {
            font-family: "Bruno Ace", cursive;
        }

        body {
            margin: 0;
            padding: 0;
            background-color: #fceade;
        }

        /* Navigation Styles */
        nav {
            background-color: #f4b285;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav ul li {
            margin-right: 20px;
        }

        nav ul li a {
            color: #000000;
            text-decoration: none;
            position: relative;
            transition: color 0.3s, opacity 0.3s;
        }

        nav ul li a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000000;
            bottom: -5px;
            left: 0;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out;
        }

        nav ul li a:hover {
            color: #000000;
            opacity: 0.8;
            margin-right: 2px; 
        }

        nav ul li a:hover:before {
            visibility: visible;
            transform: scaleX(1);
        }

        /* Container Styles */
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
        }

        .container h1 {
            font-size: 36px;
            color: #000000;
            margin-bottom: 2em;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 0 1rem 1rem #f4b285;
            font-size: 2.5rem;
            gap: 10px;
            padding: 3em;
            border: 2px dashed #DAA06D;
            border-radius: 15px;
            background-color: #EADDCA;
            box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
            transition: .4s ease-in-out;
            max-width: 600px;
            width: 100%;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <nav>
        <ul>
            <li><a href="#">Home <i class="fas fa-home"></i></a></li>
            <li><a href="/login">Login <i class="fas fa-arrow-right-from-bracket"></i></a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="container">
        <h1>M&M's Grooming and Veterinary Services</h1>
    </div>
    
    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/4c56e4603b.js" crossorigin="anonymous"></script>
</body>
</html>